.main {
    max-width: 1200px;
    margin: 0 auto;
    font-family: Instrumental serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

p {
    font-size: 18px;
    margin-top: 5px;
}

/* Själva knappen */
.monthButton {
    background-color: #7629ae;
    color: white;
    border-radius: 10px;
    font-family: Irish Grover;
    padding: 10px 15px;
    font-size: 12px;
}


#event_selection {
    background-color: darkgreen;
}

#eventName {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    margin: 20px;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#event_info {
    width: auto;
}

/* Aktiv knapp */
.active {
    background-color: #3C4360;
    color: white;
    border: 2px solid black;
}