@font-face {
    font-family: "Irish Grover";
    src: url(../fonts/Irish_Grover/IrishGrover-Regular.ttf);
}

@font-face {
    font-family: "Instrumental serif";
    src: url(../fonts/Instrument_Serif/InstrumentSerif-Regular.ttf);
}